main {
  background-color: #05090b;
  color: #ffffff;
}

/* Loading & Error */

.home-loading,
.home-error {
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  text-align: center;

  font-size: 1.5rem;
}

.home-loading {
  color: #a855f7;
}

.home-error {
  color: #ef4444;
}